<!DOCTYPE html>
<html lang="en">



<body>

    <div class="brand"> Real Estate Project</div>
    <div class="address-bar">3660 N. Mozart St. | Chicago, IL 66210 | 773-774-7750</div>



    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Business Casual</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               
                <ul class="nav navbar-nav">
                    <li>
                      <%= link_to 'Home', properties_path%>
                    </li>
                    <li>
                      <%= link_to 'About Us', about_path%>
                    </li>
                     <li>
                     <%= link_to 'contact Us', contact_path%>
                     </li>
                     <li>
                     <%= link_to 'Blog', blogs_path%>
                     </li>
                      
                </div>
                    <% if user_signed_in? %>
                    Wellcome <strong><%= current_user.first_name %>&nbsp;&nbsp;</strong>
 
                   <%= link_to 'Edit profile', edit_user_registration_path %>|
                   <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                 
                 <% else %>
                   <%= link_to "Sign up", new_user_registration_path  %> |
                   <%= link_to "Login", new_user_session_path %>
                 <% end %>

  
  
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
  


<div class="row">
            <div class="box">
                <div class="col-lg-10">


<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content.split[0..20].join(" ") %></td>
        <td><%= link_to 'Raed More', blog %></td>
       
      </tr>
     
    <% end %>
  </tbody>
  
</table>
 <P>--------------------------</P>
<br>

	</div>
    </div>
    </div>
