
            
               <!-------------------------------------start my work-------------------------------------------     -->
                    
                <p id="notice"><%= notice %></p>
 
<h1>Listing Available Properties</h1>
<table class="table table-striped">

  <thead>
      <div class="container">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip code</th>
      <th>Type</th>
      <th>Posted Time</th>
      <th>Posted by</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.title %></td>
        <td><%= number_to_currency (property.price) %></td>
        <td><%= property.beds %></td>
        <td><%= property.baths %></td>
        <td><%= property.address %></td>
        <td><%= property.city %></td>
        <td><%= property.zip_code %></td>
        <td><%= property.type.property_type %></td>
        <td><%= time_ago_in_words (property.created_at) %></td>
        <td><%= property.user.first_name %></td>
       
        
        <!--User.find_by(id: (cureent_user.id) ).first_name-->
        
        
        
        
       
       
        
           <% if user_signed_in?%>
        <td><%= link_to 'select', property %></td>
        <% if current_user.email == 'rami_a872000@yahoo.com' %>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
         
       <% end %>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Publish New Property', new_property_path,class:"btn btn-success" %>
    <br>
    <br>
    <br>
    </div>                
      <!-------------------------------------end my work-------------------------------------------     -->  
      
      
     
      
      
         
               
