<p id="notice"><%= notice %></p>

<p>
  <strong>property type :</strong>
  <%= @property.type.property_type %>
</p>
<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @property.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @property.baths %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @property.zip_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>
<p>
  <strong>posted by :</strong>
  <%= @property.user.first_name %>
</p>
<p>
  <strong>phone number :</strong>
  <%= @property.user.phone_number %>
</p>

<p>
  <strong>email:</strong>
  <%= @property.user.email %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@property.latitude}%2C#{@property.longitude}" %>





<br>
<br>



<% if user_signed_in?%>
<td><%= link_to 'Add review', new_review_path(property_id: @property.id) %></td>

<%if @property.user_id == current_user.id || current_user.email == 'rami_a872000@yahoo.com' %>


    <%= link_to 'Edit your Publish property', edit_property_path(@property) %> |
<td><%= link_to 'Delete your Publish property ', @property, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>|


<%end%>
<%end%>
<br>
<br>
<%= link_to 'Back', properties_path %>








<% @property.reviews.each do |review| %>
    <strong>User: </strong>
    <%= review.user.email %><br>
    <strong>Reviews: </strong>
   <%= review.rev_text %><br>
    
  <% end %>
