<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @property.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @property.baths %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @property.zip_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@property.latitude}%2C#{@property.longitude}" %>


<% if user_signed_in?%>

<%if @property.user_id == current_user.id%> 

<%= link_to 'Edit', edit_property_path(@property) %> |
<td><%= link_to 'Destroy', @property, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
<%end%>
<%end%>
<br>
<%= link_to 'Back', properties_path %>
