<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rev %><br>
    <%= f.text_area :rev %>
  </div>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  
  
   <%= f.hidden_field :property_id, :value => params[:property_no]  %>
  
  
  
   
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
